.mp3player-container {
    width: 730px;
    margin: 50px auto;
    padding: 5px;
    background: #000;
}

.mp3player-container #mute-button {
    background: url(../images/speaker1.jpg) no-repeat;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: none;
}

.mp3player-container #time-box {
    display: inline-block;
    width: 80px;
    background: #000;
    border-bottom: 1px solid #333;
    text-align: center;
    color: #090;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
}

.mp3player-container input {
    outline: none;
}

.mp3player-container input#seek-slider {
    width: 500px;
}

.mp3player-container input#volume-slider {
    width: 70px;
}

.mp3player-container input[type='range'] {
    -webkit-appearance: none !important;
    margin: 0px;
    padding: 0px;
    background: #000;
    height: 13px;
    border-bottom: 1px solid #333;
}

.mp3player-container input[type='range']::-moz-range-track {
    border: none;
    background: #000;
}

.mp3player-container input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: radial-gradient(#FFF, #333);
    height: 11px;
    width: 11px;
    border-radius: 100%;
    cursor: pointer;
}

.mp3player-container input[type='range']::-moz-range-thumb {
    background: radial-gradient(#FFF, #333);
    height: 11px;
    width: 11px;
    border-radius: 100%;
    cursor: pointer;
}

.mp3player-container h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #FFF;
    padding: 5px;
}

.mp3player-container #mp3_player {
    width: 700px;
    height: 110px;
    background: #000;
    padding: 5px;
    margin: 10px auto;
}

.mp3player-container #mp3_player > canvas {
    width: 700px;
    height: 100px;
    background: #000;
    float: left;
}